#baseform {
    /*margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    #9193a8
    #1cbfff
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    width: 50%;
    display: inline-block;
}

body {
    background-color: #141526 !important;
    font-family: "HCo Gotham SSm",Helvetica,Arial,sans-serif !important;
    color: white !important;
}

.formdiv {
    margin-top: 5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header {
    size: 3.6em;
    color: white;
    font-size: 3.6em;
    font-style: italic;
    font-weight: 900;
    width:40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0.5em;
}

#ipinput {
    color: white;
    font-size: 20px;
    height: 5rem;
    align-content: center;
    border-radius: 25px;
    border-width: 3px;
    border-color: #9193a8;
    border-style: solid;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 50%;
    background-color: #141526;
    font-weight: 900;
}

#ipinput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    opacity: 0.9;
    
 }
 #ipinput::-moz-placeholder { /* Firefox 19+ */
    color: white;
    opacity: 0.9;
 }
 #ipinput:-ms-input-placeholder { /* IE 10+ */
    color: white;
    opacity: 0.9;
 }
 #ipinput:-moz-placeholder { /* Firefox 18- */
    color: white;
    opacity: 0.9;
 }

#trazi-button {
    color: white;
    background-color: #141526;
    border-color: #d2d2d2;
    border-style: none;
    align-content: center;
    margin-left: 2rem;
    padding-left: 14px;
}

#trazi-button:hover {
    color: #1cbfff;
}

#msg {
    margin-top: 2rem;
    position: absolute;
    top: 50%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table {
    font-family: "HCo Gotham SSm", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    color: white;
}
  
th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
    color: white;
    font-weight: 900 !important;
}

tr {
    color: white;
}
  
tr:nth-child(even){
    background-color: #9193a8
    
}

/*tr:hover {
    background-color: black;
    color: white;
}*/

.cont {
    margin-top: 2rem;
}

#db-button {
    color: #1cbfff;
    font-size: 20px;
    font-weight: 900;
    height: 5rem;
    align-content: center;
    border-radius: 15px;
    border-width: 3px;
    border-color: #9193a8;
    border-style: solid;
    padding-left: 15px;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    width: 12em;
    background-color: #141526;
    text-align: center;
}

#db-button:hover {
    color: white;
    border-color: white;
}

.cc {
    text-align: center;
}

::placeholder {
    color: white;
    font-weight: 900;
    opacity: 1;
}

::-ms-input-placeholder {
    color: white;
    font-weight: 900;
}

h1 {
    color: white;
    font-weight: 900;
}

.btn-o-p {
    color: #1cbfff;
    font-size: 1em;
    font-weight: 900;
    height: 4rem;
    align-content: center;
    border-radius: 10px;
    border-width: 3px;
    border-color: #1cbfff;
    border-style: solid;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 7em;
    background-color: #141526;
    text-align: center;
}

.btn-o-p:hover {
    color: white;
    border-color: white;
    background-color: #141526 !important;
}

.button-e-s{
    color: #1cbfff;
    font-size: 20px;
    font-weight: 900;
    height: 3rem;
    align-content: center;
    border-radius: 30px;
    border-width: 2px;
    border-color: #9193a8;
    border-style: solid;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 5em;
    background-color: #141526;
    text-align: center;
    margin-top: 2em;
}

.button-e-s:hover {
    color: white;
    border-color: white;
    background-color: #141526 !important;
}


label[for="komentar"] {
    font-family: "HCo Gotham SSm", Arial, Helvetica, sans-serif !important;
    font-size: 1.5em;
    font-weight: 900;
    margin-right: 0.5em;
}

#komentar {
    color: white;
    font-size: 20px;
    height: 3rem;
    align-content: center;
    border-radius: 25px;
    border-width: 3px;
    border-color: #9193a8;
    border-style: solid;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 50%;
    background-color: #141526;
    font-weight: 900;
}

.btn-o-t {
    color: #1cbfff;
    font-size: 20px;
    font-weight: 900;
    height: 5rem;
    align-content: center;
    border-radius: 15px;
    border-width: 3px;
    border-color: #9193a8;
    border-style: solid;
    padding-left: 15px;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-right: 15px;
    width: 12em;
    background-color: #141526;
    text-align: center;
}

.btn-o-t:hover {
    color: white;
    border-color: white;
}
