<!DOCTYPE html>
<html>

    <head>
        <title>Scan IP</title>
        <link rel="stylesheet" href="../static/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    </head>

    <body>

      <script>
        //OSVJEZAVAMO STRANICU SVAKIH 5 SEKUNDI
        setTimeout(function(){
            window.location.reload(1);
        }, 30000);
        
        window.onload = fileExists;

        function fileExists(){
            var exists = '{{ ipExists }}';
            console.log(exists);
            
            if (exists === "1"){
              window.localStorage.setItem("scan", 1);
              console.log("Postoji, treba blokirati gumb za pretrazivanje...");
            }

            if (exists === "0"){
                //AKO JE SKENIRANJE ZAVRSENO, TREBA OBAVIJESTITI KORISNIKA
                var scan = window.localStorage.getItem("scan");
                if (scan === "1"){
                    alert("Skeniranje je završeno.");
                }
                window.localStorage.removeItem("scan");
                
                console.log("Ne postoji, treba odblokirati gumb za pretrazivanje...");
            }
            
        }
        
    </script>
        
        <div class="formdiv">
            <form id="baseform" action="/save" method="POST">
                <label for="komentar">Komentar:</label>
                <input type="text" id="komentar" name="komentar" value="{{ komentar }}"><br>
                <input type="hidden" name = "mac" value="{{ params }}"><button id="spremi-button" type="submit" class="button-e-s">Spremi</button>
            </form>
        </div>
<!--
<form action="/save" method="POST">
   Name input 
  <div class="form-outline mb-4">
    <input type="text" id="form4Example1" name="ip" value={{ ip }} class="form-control" />
    <label class="form-label" for="form4Example1">IP adresa</label>
  </div>

  Email input 
  <div class="form-outline mb-4">
    <input type="email" id="form4Example2" name="os" value={{ os }} class="form-control" />
    <label class="form-label" for="form4Example2">Operacijski sustav</label>
  </div>

   Message input 
  <div class="form-outline mb-4">
    <textarea class="form-control" id="form4Example3" rows="4"></textarea>
    <label class="form-label" for="form4Example3">Naziv računala</label>
  </div>

  <input type="hidden" name = "mac" value="{{ params }}">

   Submit button 
  <button type="submit" class="btn btn-primary btn-block mb-4">Spremi</button>
</form>
-->
    </body>

</html>
