<!DOCTYPE html>
<html>

    <head>
        <title>Scan IP</title>
        <link rel="stylesheet" href="../static/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

    <body>

        <script>
            //OSVJEZAVAMO STRANICU SVAKIH 5 SEKUNDI
            setTimeout(function(){
                window.location.reload(1);
            }, 30000);
            
            window.onload = fileExists;

            function fileExists(){
                var exists = '{{ ipExists }}';
                console.log(exists);
                var button = document.getElementById("trazi-button");
                
                if (exists === "1"){
                    //Klikom na gumb zapoceto je aktivno skeniranje
                    window.localStorage.setItem("scan", 1);
                    button.disabled = true;
                    console.log("Postoji, treba blokirati gumb za pretrazivanje...");
                }

                if (exists === "0"){
                    //AKO JE SKENIRANJE ZAVRSENO, TREBA OBAVIJESTITI KORISNIKA
                    var scan = window.localStorage.getItem("scan");
                    if (scan === "1"){
                        console.log("Skeniranje je završeno.");
                        alert("Skeniranje je završeno.");
                        window.localStorage.removeItem("scan");
                    }
                    button.disabled = false;
                    console.log("Ne postoji, treba odblokirati gumb za pretrazivanje...");
                }
                
            }
            
        </script>

        <div class="header"> Sustav za Detekciju Računala u Lokalnoj Mreži</div>
        <div class="formdiv">
            <form id="baseform" action="/search" method="POST">
                <input id="ipinput" type="text" name="ipinput" placeholder="Unesite IP adresu">
                <button id="trazi-button" type="submit" value=""><i class="glyphicon glyphicon-search" style="font-size:30px;"></i></button>
            </form>
        </div>
        <div class="formdiv">
            <form id="baseform" action="/db" method="POST">
                <div class="cc">
                    <button id="db-button" type="submit" class="btn-o-t" value="">Prikaži cijelu bazu</button>
                </div>
            </form>
        </div>
        <div class="formdiv">
            <p>{{ msg }}</p>
        </div>
    </body>

</html>
