<!DOCTYPE html>
<html>

    <head>
        <title>Scan IP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/index.css">
    </head>

    <body>

        <script>
            //OSVJEZAVAMO STRANICU SVAKIH 5 SEKUNDI
            setTimeout(function(){
                window.location.reload(1);
            }, 30000);
            
            window.onload = fileExists;

            function fileExists(){
                var exists = '{{ ipExists }}';
                console.log(exists);
                
                if (exists === "1"){
                    window.localStorage.setItem("scan", 1);
                    console.log("Postoji, treba blokirati gumb za pretrazivanje...");
                }

                if (exists === "0"){
                    //AKO JE SKENIRANJE ZAVRSENO, TREBA OBAVIJESTITI KORISNIKA
                    var scan = window.localStorage.getItem("scan");
                    if (scan === "1"){
                        console.log("Skeniranje je završeno.");
                        alert("Skeniranje je završeno.");
                    }
                    window.localStorage.removeItem("scan");
                    
                    console.log("Ne postoji, treba odblokirati gumb za pretrazivanje...");
                }
                
            }
            
        </script>
        <div class="container">
            <h1>Info Table</h1>
        <table id="data" class="table table-striped">
            <thead>
                <th>MAC</th>
                <th>IP</th>
                <th>First Seen</th>
                <th>Last Seen</th>
                <th>Last Scan</th>
                <th>OS</th>
                <th>Port Info</th>
                <th>Komentar</th>
            </thead>
            <tbody>
                {% for unos in lista %}
                <tr>
                    <td name="mac">{{ unos['mac'] }}</td>
                    <td name="ip">{{ unos['ip'] }}</td>
                    <td name="prva_pojava">{{ unos['prva_pojava'] }}</td>
                    <td name="zadnja_pojava">{{ unos['zadnja_pojava'] }}</td>
                    <td name="zadnji_sken">{{ unos['zadnji_scan'] }}</td>
                    <td name="os">{{ unos['OS'] }}</td>
                    <td name="portinfo">{{ unos['portinfo'] }}</td>
                    <td name="komentar">{{ unos['komentar'] }}</td>
                    <td><form id="details-form" action="/edit" method="POST"><input id="edit-details" type="hidden" name = "mac" value="{{ unos['mac'] }}"><button type="submit" class="btn-o-p">Edit</button></form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="container">
            <select id="format" class=" form-select form-select-sm col-sm-2" aria-label="Select export format">
                <option value="EXCEL">Excel</option>
                <option value="JSON">JSON</option>
                <option value="CSV">CSV</option>
                <input type="button" class="button-e-s" value="Export" onclick="exportFunc();">
            </select>
        </div>
        <div class="formdiv">
            <form id="baseform" action="/db" method="POST">
                <div class="cc">
                    <button id="db-button" type="submit" class="btn-o-t" value="">Prikaži cijelu bazu</button>
                </div>
            </form>
        </div>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>   
        <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          {orderable: false},
          {orderable: false},
          null,
          null,
          null,
          {orderable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false}],
      });
    });
  </script>
  </script>

<!--Skripta za export-->
<script>

    function exportTableToExcel(tableID, filename = ''){

        var downloadLink;
        var dataType = 'application/vnd.ms-excel';

        //Dohvaca se trenutna tablica
        var tableSelect = document.getElementById(tableID);
        //Kreiramo novu tablicu koja nece imati zadnji stupac
        var tableNew = document.createElement('table');
        var thead = document.createElement('thead');

        //Kreira se thead element
        for (var i = 0; i < tableSelect.rows[0].cells.length; i++){
            var headData = tableSelect.rows[0].cells[i].innerHTML;
            var theadText = document.createTextNode(headData);
            var th = document.createElement('th');
            th.appendChild(theadText);
            thead.appendChild(th);
        }
        //thead se dodaje u tablicu
        tableNew.appendChild(thead);

        //Kreira se tbody element
        var tbody = document.createElement('tbody');

        //tbody se puni podacima, ali bez zadnjeg stupca
        for (var i = 1; i < tableSelect.rows.length; i++){
            var tr = tableSelect.rows[i];
            var trow = document.createElement('tr');
            for (var j = 0; j < tr.cells.length - 1; j++){
                var td = tr.cells[j].innerHTML;
                var tDataText = document.createTextNode(td);
                var td = document.createElement('td');
                td.appendChild(tDataText);
                trow.appendChild(td);       
            }
            tbody.appendChild(trow);
        }
        //tbody se dodaje u novu tablicu
        tableNew.appendChild(tbody);
        
        var tableHTML = tableNew.outerHTML.replace(/ /g, '%20');

        //Definiramo ime export datoteke
        filename = filename?filename+'.xls':'excel_data.xls';

        //Stvaramo element koji predstavlja download link
        downloadLink = document.createElement("a");
        
        document.body.appendChild(downloadLink);

        if(navigator.msSaveOrOpenBlob){
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            //Kreiramo link do datoteke
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            //Postavljamo ime datoteke
            downloadLink.download = filename;

            //Pokrecemo download link
            downloadLink.click();
        } 
    }

    function exportTableToJSON(tableID, filename = ''){
        var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(tableID);
        var download = document.createElement('a');

        //kreiranje download link-a
        download.setAttribute("href", dataStr);
        download.setAttribute("download", filename + ".json");
        document.body.appendChild(download);
        download.click();
        download.remove();
    }
    
    //Dohvaca ime formata predanog u padajucoj listi
    function formatHandler(){
        var format = document.getElementById("format");
        var value = format.options[format.selectedIndex].text;
        return value;
    }

    //Pretvara tablicu u polje za exportanje
    function convertToJSON(table){
        var data = [];
        var headers = [];
        for (var i = 0; i < table.rows[0].cells.length; i++){
            headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');
        }
        //Prolazi po svim redcima
        for (var i = 1; i < table.rows.length; i++){
            var tableRow = table.rows[i];
            var rowData = {};
            //prolazi svaki stupac/celiju u trenutnom redku
            for (var j = 0; j < tableRow.cells.length - 1; j++){
                rowData[headers[j]] = tableRow.cells[j].innerHTML;
            }
            //svaki objekt redka spremamo u polje data
            data.push(rowData);
        }
        return data;
    }

    function exportTableToCSV(csv, fileName){
        var csvFile;
        var downloadLink;

        csvFile = new Blob([csv], {type: "text/csv"});

        downloadLink = document.createElement("a");
        downloadLink.download = fileName;

        downloadLink.href = window.URL.createObjectURL(csvFile);
        downloadLink.style.display = "none";

        document.body.appendChild(downloadLink);

        downloadLink.click();
    }

    function convertToCSV(table, fileName){
        var data = [];
        var headEl = [];
        
        var tableRow = table.rows[0];
        for (var i = 0; i < tableRow.cells.length; i++){
            headEl.push(tableRow.cells[i].innerHTML.toLowerCase());
        }
        data.push(headEl.join(","));
        
        for (var i = 1; i < table.rows.length; i++){
            tableRow = table.rows[i];
            var row = [];
            for (var j = 0; j < tableRow.cells.length - 1; j++){
                row.push(tableRow.cells[j].innerHTML);
            }
            data.push(row.join(","));
        }
        
        exportTableToCSV(data.join("\n"), fileName);
    }

    //Provjerava format i pokrece exportanje(GLAVNA FUNKCIJA ZA EXPORT)
    function exportFunc(){
        var value = formatHandler();

        if (value === "Excel"){
            exportTableToExcel("data", 'exportData');
        }else if (value === "JSON"){
            var fileJSON = JSON.stringify(convertToJSON(document.getElementById("data")));
            exportTableToJSON(fileJSON, 'exportData');
        }else if (value === "CSV"){
            var table = document.getElementById("data");
            convertToCSV(table, "ExportData.csv");
        }
    }
</script>
    </body>

</html>
